#posts-list li {
    height: 225px;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}

#posts-list {
    width: 500px;
    margin: auto;
    position: relative;
    padding: 0px;
}

.posts-list {
    padding: 0px;
}

.content-preview {
    text-align: left; 
    height: 100px;
}

#posts-list .post-title {
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-content-left {
    display: inline-block;
    float: left;
    height: 240;
}

.post-content-left img {
    margin-right: 20px;
    max-width: 200px;
    max-height: 160px;
}

.post-content-right {
    display: inline-block;
    float: right;
    height: 177px;
    width: 270px;
    overflow: hidden;
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    .post-content-right.alt {
        width: 500px !important;
    }
}

.post-content-right.alt .content-preview {
    text-align: left;
}
.post-topics {
    padding-top: 200px;
    text-align: center;
}

h2 {
    margin: 5;
}

.next-page-link {
    text-align: center;
    margin: 40px;
}

@media only screen and (max-width: 600px) {
    #posts-list {
        width: 300px;
    }

    .post-content-left {
        display: none;
    }
    
    .post-content-right {
        width: 300px !important;
    }
}