#search-bar {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 15px;
}

#search-bar form {
    margin: 0;
    display: inline-block;
}

#search-bar button {
    border: none;
    background: none;
    font-size: 15px;
}

#search-bar i:hover {
    color: gray;
}