<div class="component" id="footer">
    <div class="social-media-links">
        <a href="https://github.com/christopherjmedlin/blog.christophermedlin.me" target="blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/christopherjmed" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/christopher-medlin-002a07140/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://stackoverflow.com/users/8773903/christopher-medlin" target="_blank">
            <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        </a>
    </div>
    <div class="copyright">
        Copyright © 
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> <a href="https://www.christophermedlin.me">Christopher Medlin</a>           
    </div>
</div>